<!DOCTYPE html>

<head>
<title>Profile</title>
<LINK rel = "stylesheet" type="text/css" href="static/css/style.css">
</head>

<body>

<script src ="static/js/jquery.js"></script>
<script src ="static/js/account.js"></script>


<form action="" method="post">

<div align = "center">
<div>
<h1>
<font face = "desdemona" size = 7>
Virtual Stuy:</font><font size = 7>
New Account
</h1>
</font>
</div>

<div id ="message">
</div>

<font size = 6>
Create your Profile:
</font>
<p>
</div>

<font size = 5>

1. Name: <input type=text id="first" value="First Name">
<input type=text id="last" value="Last Name">
<p>

2. Grade: <input type=text id="grade" value="Grade">
<p>

3. Schedule:

<font size = 4>
<p>

Period 1: Room Number:<input type=text class="rooms">
<p>

Period 2: Room Number:<input type=text class="rooms">
<p>

Period 3: Room Number:<input type=text class="rooms">
<p>

Period 4: Room Number:<input type=text class="rooms">
<p>

Period 5: Room Number:<input type=text class="rooms">
<p>

Period 6: Room Number:<input type=text class="rooms">
<p>

Period 7: Room Number:<input type=text class="rooms">
<p>

Period 8: Room Number:<input type=text class="rooms">
<p>

Period 9: Room Number:<input type=text class="rooms">
<p></div>

Period 10: Room Number:<input type=text class="rooms">
</div></font>

<font size = 5>
<div style="padding-left:420px;">
<p>

4. ID: <input type=text id="idnum" value="id">
<font size = 3>(Your four-digit ID)
<p></div>
<div align = "center">
<button type="button" id="submit">Submit!</button>
</div>


