<!DOCTYPE html>
<head>
<link rel="stylesheet" href="FinalProjstyle.css">
</head>
<body>
<p align="center">
<h1 align = "center">
<font face = "desdemona" size = 7>
Virtual Floormaps
</h1>
</font>
<p>
<div align = "center">

<svg id="svg" xmlns="http://www.w3.org/2000/svg" version="1.1" width="500" height="50">
</svg>
<p>
<svg id="svg" xmlns="http://www.w3.org/2000/svg" version="1.1" width="500" height="50">
</svg>
<p>
<svg id="svg" xmlns="http://www.w3.org/2000/svg" version="1.1" width="500" height="50">
</svg>
<p>
<svg id="svg" xmlns="http://www.w3.org/2000/svg" version="1.1" width="500" height="50">
</svg>
<p>
<svg id="svg" xmlns="http://www.w3.org/2000/svg" version="1.1" width="500" height="50">
</svg>
<p>
</div>

<ul class="navbar">
  <li><button type="select" id="profile">My Profile</button>
  <li><button type="select" id="outToLunch">Out-to-Lunch</button>
  <li><button type="select" id="schedules">Bell Schedules</button
</ul>

<p>
Just an example of using HTML tags in the input to insert an image. You can put links, images, etc in this section <p>
<p>
blank space </p>
<p>
blank </p>
</body>
</html>