<!DOCTYPE html>

<head>
  <title>Home</title>
<LINK rel = "stylesheet" type="text/css" href="static/css/style.css">
</head>

<body background ="static/jpg/blue_bars.jpg">

<div align = "center">
<h1><font face="desdemona" size="7">Virtual Stuy</font></h1>


<p><font face="centurygothic" size = "3"> By Helen Nie, David Kurkovskiy, Oliver Ball, and Shreya Kalva</font>

</br><p><font face="centurygothic" size = "5"> Welcome to Virtual Stuy!

<form action="" method="post">
  <p>ID: <input autocomplete="off" type="password" name="ID"><input type="submit" name="button" value="Login">

  <p>OR
  </br><input type="submit" name="button" value="Register"></p>

  </br></br>
</form>

<body>

