<!DOCTYPE html>
<head>
<title>FloorMaps </title>
<LINK rel ="stylesheet" type="text/css" href="static/css/style.css">
</head>
<body background ="static/jpg/blue_bars.jpg">

<script src ="static/js/jquery.js"></script>
<script src ="static/js/maps.js"></script>


<h1 align ="center">
<font face ="desdemona" size = 7>
Virtual Floormaps
</h1>
</font>
<p>
<div align ="center">
<font size ="4">
See where you friends and teachers are!
</font>
</div>
<nav>
<ul>
<div align ="center">Choose which grade you'd like to see:
  <select class="choose-grade">
    <option value='9'>Freshmen</option>
    <option value='10'>Sophomores</option>
    <option value='11'>Juniors</option>
    <option value='12'>Seniors</option> 
 </select>
</div>

<form action="" method="post">
<input type=submit name=button value="Logout">
<p>
<input type=submit name=button value="View/Update Your Profile">
</form>
</ul>
</nav>
<p>
<p>
<div align = "center">

<svg id="svg-ten" xmlns="http://www.w3.org/2000/svg" version="1.1" width="500" height="250">
</svg>
<p>
<svg id="svg-nine" xmlns="http://www.w3.org/2000/svg" version="1.1" width="500" height="250">
</svg>
<p>
<svg id="svg-eight" xmlns="http://www.w3.org/2000/svg" version="1.1" width="500" height="250">
</svg>
<p>
<svg id="svg-seven" xmlns="http://www.w3.org/2000/svg" version="1.1" width="500" height="250">
</svg>
<p>
<svg id="svg-six" xmlns="http://www.w3.org/2000/svg" version="1.1" width="500" height="250">
</svg>
<p>
<svg id="svg-five" xmlns="http://www.w3.org/2000/svg" version="1.1" width="500" height="250">
</svg>
<p>
<svg id="svg-four" xmlns="http://www.w3.org/2000/svg" version="1.1" width="500" height="250">
</svg>
<p>
<svg id="svg-three" xmlns="http://www.w3.org/2000/svg" version="1.1" width="500" height="250">
</svg>
<p>
<svg id="svg-two" xmlns="http://www.w3.org/2000/svg" version="1.1" width="500" height="250">
</svg>
<p>
<svg id="svg-one" xmlns="http://www.w3.org/2000/svg" version="1.1" width="500" height="250">
</svg>
</div>



<div id="profile">
</div>
</body>
</html>
