<!DOCTYPE html>
<head>
<title>FloorMaps </title>
<LINK rel ="stylesheet" type="text/css" href="style.css">
</head>
<body>

<script src ="jquery.js"></script>
<script src ="maps.js"></script>


<h1 align ="center">
<font face ="desdemona" size = 7>
Virtual Floormaps
</h1>
</font>
<p>
<div align ="center">
See where you friends and teachers are!
</div>
<nav>
<ul>
<form action="" method="post">
<input type=submit name=button value="Logout">
</form>
</ul>
</nav>
<p>
<p>
<div align = "center">

<svg id="svg-ten" xmlns="http://www.w3.org/2000/svg" version="1.1" width="500" height="25">
</svg>
<p>
<svg id="svg-nine" xmlns="http://www.w3.org/2000/svg" version="1.1" width="500" height="25">
</svg>
<p>
<svg id="svg-eight" xmlns="http://www.w3.org/2000/svg" version="1.1" width="500" height="25">
</svg>
<p>
<svg id="svg-seven" xmlns="http://www.w3.org/2000/svg" version="1.1" width="500" height="25">
</svg>
<p>
<svg id="svg-six" xmlns="http://www.w3.org/2000/svg" version="1.1" width="500" height="25">
</svg>
<p>
<svg id="svg-five" xmlns="http://www.w3.org/2000/svg" version="1.1" width="500" height="25">
</svg>
<p>
<svg id="svg-four" xmlns="http://www.w3.org/2000/svg" version="1.1" width="500" height="25">
</svg>
<p>
<svg id="svg-three" xmlns="http://www.w3.org/2000/svg" version="1.1" width="500" height="25">
</svg>
<p>
<svg id="svg-two" xmlns="http://www.w3.org/2000/svg" version="1.1" width="500" height="25">
</svg>
<p>
<svg id="svg-one" xmlns="http://www.w3.org/2000/svg" version="1.1" width="500" height="25">
</svg>
</div>

<div id="profile">
</div>
</body>
</html>
