<!DOCTYPE html>
<head>
<title>Floor {{floor}}</title>

<link rel ="stylesheet" type="text/css" href="static/css/tidybox.css">
<LINK rel ="stylesheet" type="text/css" href="static/css/style.css">
</head>

<body bgcolor="0808F7">

<script src ="static/js/jquery.js"></script>
<script src ="static/js/tinyBoxPage.js"></script>



<h1 align ="center">
  <font face ="desdemona" size = 7>
    Floor {{floor}}
  </font>
</h1>
<p>
  
<div id="message" align="center">
  </br></br>
</div>

<div align = "center">
  <svg id="zoom-map" xmlns="http://www.w3.org/2000/svg" version="1.1" width="700" height="400"></svg>
</div>



<form>
  <input type="text" style="display:none;" id="floor" value={{ floor }} />
<input type="text" style="display:none;" id="period" value={{ period }} />

{% for id in IDs %}
<input type="text" style="display:none;" id="ID" value= {{ id }} />
<p> {{ id }} </p>
{% endfor %}

</form>

</body>
</html>
