<!DOCTYPE html>

<head>
<title>Profile</title>
<LINK rel = "stylesheet" type="text/css" href="static/css/style.css">
</head>

<body background ="static/jpg/blue_bars.jpg">

<script src ="static/js/jquery.js"></script>
<script src ="static/js/update.js"></script>


<form action="" method="post">

<div align = "center">
<div>
<h1>
<font face = "desdemona" size = 7>
Virtual Stuy:</font><font size = 7>
View / Update Account
</h1>
</font>
</div>

<div id ="message" align ="center">
</div>

<font size = 6>
<u>Your Profile</u>
</font>
<p>

<font size = 5>

Name: <input type=text id="first" value="First Name">
<input type=text id="last" value="Last Name">
<p>

Grade: 
<select id="grade">
  <option value='9'>Freshman</option>
  <option value='10'>Sophomore</option>
  <option value='11'>Junior</option>
  <option value='12'>Senior</option>
</select>
<p>

Schedule:

<font size = 4>
<p>

Period 1 Room Number:<input type=text class="rooms">
<p>

Period 2 Room Number:<input type=text class="rooms">
<p>

Period 3 Room Number:<input type=text class="rooms">
<p>

Period 4 Room Number:<input type=text class="rooms">
<p>

Period 5 Room Number:<input type=text class="rooms">
<p>

Period 6 Room Number:<input type=text class="rooms">
<p>

Period 7 Room Number:<input type=text class="rooms">
<p>

Period 8 Room Number:<input type=text class="rooms">
<p>

Period 9 Room Number:<input type=text class="rooms">
<p>

Period 10 Room Number:<input type=text class="rooms">

<font size = 5>
<p>

ID: <input type=text id="idnum" value={{ID}}>

<p></div>
<div align = "center">
<button type="button" id="submit">Submit!</button>
</div>


